<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Untitled Map Project</title>
  </head>
  <body>
    <h1>Untitled Map Project</h1>
    <div class='sidebar'>
      <div class='user'>
        <img class='userImg' src=''>
        <p class='userName'>Julia Brooks</p>
        <p class='userEmail'>Jbrooks@gmail.com</p>
      </div>
      <div class='groupsList'>
        <h2 class='groupsTitle'>Groups:</h2>
        <button></button><span>Friends</span>
        <button></button><span>Family</span>
        <button></button><span>Parks</span>
        <button></button><span>Food Trucks</span>
        <button></button><span>Dog Parks</span>
        <button></button><span>Bars</span>
        <button></button><span>Create new Group</span>
      </div>
    </div>
    <div id='map'>
    </div>
  </body>
</html>
